<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Chandra Vamsi. It uses data from weatherstack.com and positionstack.com. The app gives you the weather forecast for any place!</p>
    </div>

    {{>footer}}
</body>

</html>