<!DOCTYPE html>

<html>

<head>
    <title>Help not Found</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help article not found</p>
    </div>

    {{>footer}}
</body>

</html>