<!DOCTYPE html>

<html>

<head>
    <title>Help not Found</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help article not found</p>
    </div>

    {{>footer}}
</body>

</html>